footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  margin-bottom: 80px;
}

h1 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.header-eth-balance {
  color: white;
}
.header-bnb-balance {
  color: white;
}