/* CARD */
.template-list {
  display: flex;  
  justify-content: center;
}

.template-list__item {
  max-width: 18rem;
  margin-top: 20px;
}


/* .template-list__item button {
  display: flex;
  justify-content: center;
} */

.card-title {
  min-height: 50px;
  text-align: center;
}

.card-text {
  min-height: 180px;
}

#display-form-create-token {
  margin-top:30px;
}
